/* login.component.css */
.outer-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/naslovnaa.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(34, 34, 182, 0.8);
  text-align: center;
  color: #fff;
}


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

button {
  background-color: #8ccbe5;
  color: black;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(9, 39, 170);
}
