<!-- user-amount.component.html -->
<div class="add-product-form">
  <h2>Add An Amount</h2>

  <!-- First Form: View-only Account Balance and Editable Currency -->
  <!-- Second Form: Editable Amount and Currency -->
  <form>
    <div class="form-group">
      <label for="viewAccountBalance">Account Balance:</label>
      <input type="number" id="viewAccountBalance" name="viewAccountBalance" [(ngModel)]="newProduct.money" >
    </div>
    <div class="form-group">
      <label for="editableCurrency">Currency:</label>
      <select id="editableCurrency" name="editableCurrency" [(ngModel)]="newProduct.currency">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
    <button type="button" (click)="onCurrencyAdd()">Add</button>
  </form>
</div>
